{if 0 lt $ulId|strlen}<!-- cntnd_navigation/template/default_subnavigation.html -->{/if}
  <ul class="subnavigation">
  {foreach name=nav from=$tree item=wrapper}
	{assign var="idcat" value=$wrapper.idcat}
    {assign var="idartlang" value=$wrapper.item->get('startidartlang')}

    {assign var="url" value=$wrapper.item->getLink()}
	  {assign var="target" value="_self"}
    {if $redirect.$idartlang.redirect eq 1}
        {assign var="url" value=$redirect.$idartlang.url}
		{assign var="target" value=$redirect.$idartlang.target}
    {/if}

    {assign var="name" value=$wrapper.item->get('name')}

    {if $idcat|in_array:$path}
        {assign var="active" value='active'}
    {else}
        {assign var="active" value=''}
    {/if}
    <li class="subnav-item">
		<a class="subnav-link {$active}" href="{$url}" target="{$target}" title="{$name}">{$name}</a>
    </li>
  {/foreach}
  </ul>
{if 0 lt $ulId|strlen}<!-- cntnd_navigation/template/default_subnavigation.html -->{/if}
